@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

/* home page */

a {
    text-decoration: none;
    color: white;
}

.header {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}

.bitsLogoDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.university-name {
    font-weight: 300;
    font-size: 30px;
}

.bits-logo {
    width: 80px;
    height: 80px;
}

.section-title {
    padding-left: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 20px;
}

.wrapper {
    width: 268px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    position: relative;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, rgb(31 31 31 / 12%) 0px 1px 4px;
    margin-right: 20px;
}

.head {
    width: 100%;
    height: 168px;
    /* background-image: url(https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/14/b2d530f1ad11e7ab380fc0c6c817a8/Search-Thumbnail.jpg?auto=compress&dpr=1&w=268); */
    background-color: rgb(130, 168, 225);
    background-repeat: no-repeat;
    background-position: center center;
}

.blue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 132px;
    background-image: linear-gradient(135deg, #00419e, #618dcc);
    transform: skewY(-10deg);
}

.pink {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 132px;
    background-image: linear-gradient(135deg, #e3068a, #ff9bd7);
    transform: skewY(-10deg);
}

.orange {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 132px;
    background-image: linear-gradient(135deg, #da3c00, #ffcdba);
    transform: skewY(-10deg);
}

.green {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 132px;
    background-image: linear-gradient(135deg, #22874b, #b5ffd3);
    transform: skewY(-10deg);
}

.logo {
    position: absolute;
    top: 120px;
    left: 25px;
    width: 52px;
    height: 52px;
    background-origin: content-box;
    padding: 10px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.content {
    position: absolute;
    top: 190px;
    left: 25px;
    color: rgb(255, 255, 255);
}

.content h3 {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.content p {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 4px;
    padding: 0.75rem 1.5rem;
    color: rgb(245, 247, 250);
    font-size: 0.75rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: OpenSans-Bold, OpenSans, Arial, sans-serif;
}


/* lecture page */

body {
    background-image: linear-gradient(45deg, #f6f6f6, #a09cda);
    font-family: 'Muli', sans-serif;
    min-height: 100vh;
    margin: 0;
}

.courses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 700px;
}

.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.course-preview {
    background-color: #2A265F;
    color: #fff;
    padding: 30px;
    max-width: 250px;
}

.course-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.course-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
}

.progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

.progress::after {
    border-radius: 3px;
    background-color: #2A265F;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 66%;
}

.progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
}

.btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #001F61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #97A5CE;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    .social-panel-container.visible {
        transform: translateX(0px);
    }

    .floating-btn {
        right: 10px;
    }
}